#root {
  text-align: center;
}

body.dark-mode {
  background-color: #242424;
  color: #ffffff; 
}

body.light-mode {
  background-color: #ffffff; 
  color: #242424; 
}

.logo {
  height: 1em;
  transition: filter 300ms;
}
